## Theory1

In [1]:
import pandas as pd

df = pd.read_csv('../data/mcpd_augmented.csv')

In [2]:
df.head()

,age,sex,bmi,children,smoker,isSouthwest,isSoutheast,isNorthwest,isNortheast
0,19,0,27.900,0,1,1,0,0,0
1,18,1,33.770,1,0,0,1,0,0
2,28,1,33.000,3,0,0,1,0,0
3,33,1,22.705,0,0,0,0,1,0
4,32,1,28.880,0,0,0,0,1,0

In [3]:
data = df.values

In [4]:
data.shape

(1338, 9)

In [5]:
import layers as ly

inputLayer = ly.inputLayer(data)
dataOut = inputLayer.forward(data)
fullyConnectedLayer = ly.fullyConnectedLayer(9, 2)
dataOut1 = fullyConnectedLayer.forward(dataOut)
logisticLayer = ly.logisticSigmoidLayer(dataOut1)
dataOut2 = logisticLayer.forward(dataOut1)

print(dataOut2)

[[0.49989522 0.49994396]
 [0.49997938 0.49996596]
 [0.50000194 0.50001067]
 ...
 [0.49991703 0.49997904]
 [0.49993503 0.49992635]
 [0.49995079 0.50003798]]