## Pyspark Data Frames

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark regression example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
df= spark.read.csv('titanic.csv',header=True, inferSchema = True)

### Get the top rows of Pyspark DataFrames

In [4]:
df.show(2, truncate=False)

+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+---------+-------+-----+--------+
|PassengerId|Survived|Pclass|Name                                               |Sex   |Age |SibSp|Parch|Ticket   |Fare   |Cabin|Embarked|
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+---------+-------+-----+--------+
|1          |0       |3     |Braund, Mr. Owen Harris                            |male  |22.0|1    |0    |A/5 21171|7.25   |null |S       |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)|female|38.0|1    |0    |PC 17599 |71.2833|C85  |C       |
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+---------+-------+-----+--------+
only showing top 2 rows

### Select specific columns of Pyspark DataFrames

In [5]:
df.select(['Survived', 'Sex', 'Age']).show(5)

+--------+------+----+
|Survived|   Sex| Age|
+--------+------+----+
|       0|  male|22.0|
|       1|female|38.0|
|       1|female|26.0|
|       1|female|35.0|
|       0|  male|35.0|
+--------+------+----+
only showing top 5 rows

### Slice based on condition of Pyspark DataFrames

In [9]:
df.filter(df['Sex']== 'female').show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

### Check how many null values we have for a specific column of Pyspark DataFrames

In [33]:
df.filter(df['Age'].isNull()).count()

177

In [35]:
df.filter(df['Age'].isNotNull()).show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

### Unique values of a column in Pyspark DataFrames

In [41]:
df.select(['Embarked']).distinct().show()

+--------+
|Embarked|
+--------+
|       Q|
|    null|
|       C|
|       S|
+--------+

### Value Counts in Pyspark DataFrames

In [62]:
df.groupBy('Embarked').count().show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       Q|   77|
|    null|    2|
|       C|  168|
|       S|  644|
+--------+-----+

In [43]:
df.groupBy('Embarked').count().orderBy('count', ascending=False).show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       S|  644|
|       C|  168|
|       Q|   77|
|    null|    2|
+--------+-----+

### Similar functionality of .values in Pandas in Pyspark DataFrames

In [56]:
embarked_lst = df.select(['Embarked']).rdd.flatMap(lambda x:x).collect()
embarked_lst[:10]

['S', 'C', 'S', 'S', 'S', 'Q', 'S', 'S', 'S', 'C']

In [ ]:
# Better Way
embarked_lst = df.select(['Embarked']).rdd.map(lambda x:x[0]).collect()
embarked_lst[:10]

### Values for multiple columns in Pyspaark DataFrames

In [77]:
df.select(['Embarked', 'Sex']).rdd.take(5)

[Row(Embarked='S', Sex='male'),
 Row(Embarked='C', Sex='female'),
 Row(Embarked='S', Sex='female'),
 Row(Embarked='S', Sex='female'),
 Row(Embarked='S', Sex='male')]

In [80]:
df.select(['Embarked', 'Sex']).rdd.map(lambda x: [x[0],x[1]]).take(5)

[['S', 'male'],
 ['C', 'female'],
 ['S', 'female'],
 ['S', 'female'],
 ['S', 'male']]

In [57]:
from pyspark.sql.functions import mean, min, max

df.select([mean('Age'), min('Age'), max('Age')]).show()

+-----------------+--------+--------+
|         avg(Age)|min(Age)|max(Age)|
+-----------------+--------+--------+
|29.69911764705882|    0.42|    80.0|
+-----------------+--------+--------+

In [60]:
df.filter(df['Sex']== 'male').select([mean('Age'), min('Age'), max('Age')]).show()

+-----------------+--------+--------+
|         avg(Age)|min(Age)|max(Age)|
+-----------------+--------+--------+
|30.72664459161148|    0.42|    80.0|
+-----------------+--------+--------+

In [81]:
df.filter(df['Sex']== 'female').select([mean('Age'), min('Age'), max('Age')]).show()

+------------------+--------+--------+
|          avg(Age)|min(Age)|max(Age)|
+------------------+--------+--------+
|27.915708812260537|    0.75|    63.0|
+------------------+--------+--------+

In [ ]:
from pyspark.sql.functions import mean, min, max

# Average of Age for Male and Female in one line
df.select(['Sex', 'Age']).groupby('Sex').agg(mean('Age')).show()

### Crosstab in Pyspark

In [61]:
df.crosstab('Sex', 'Survived').show()

+------------+---+---+
|Sex_Survived|  0|  1|
+------------+---+---+
|        male|468|109|
|      female| 81|233|
+------------+---+---+

In [82]:
df.crosstab('Survived', 'Sex').show()

+------------+------+----+
|Survived_Sex|female|male|
+------------+------+----+
|           1|   233| 109|
|           0|    81| 468|
+------------+------+----+

In [83]:
df.filter(df['Survived'] == 1).count()

342

In [84]:
233+109

342

In [85]:
df.count()

891

## Activity: what percentage of female passengers survived?
- Use Pyspark syntaxes to answer this question

In [95]:
df.filter((df['Sex']=='female') & (df['Survived'] == 1)).count()

233

In [89]:
df.filter(df['Sex']=='female').count()

314

In [90]:
233+81

314

In [91]:
233/314

0.7420382165605095

In [118]:
df.filter(df['Embarked'] == 'C').groupby('Sex').count().show()

+------+-----+
|   Sex|count|
+------+-----+
|female|   73|
|  male|   95|
+------+-----+

In [138]:
df.crosstab('Embarked', 'Sex').show()

+------------+------+----+
|Embarked_Sex|female|male|
+------------+------+----+
|           S|   203| 441|
|           C|    73|  95|
|           Q|    36|  41|
|        null|     2|   0|
+------------+------+----+

In [160]:
df.filter(df['Embarked'] == 'C').groupby(['Sex', 'Age']).count().orderBy('count', ascending=False).show()

+------+----+-----+
|   Sex| Age|count|
+------+----+-----+
|  male|null|   26|
|female|null|   12|
|female|24.0|    5|
|  male|30.0|    4|
|  male|25.0|    4|
|female|17.0|    3|
|female|18.0|    3|
|  male|40.0|    3|
|  male|20.0|    3|
|  male|49.0|    3|
|female|30.0|    3|
|  male|35.0|    3|
|  male|27.0|    3|
|  male|26.0|    3|
|  male|36.0|    3|
|  male|22.0|    3|
|  male|58.0|    2|
|female|44.0|    2|
|female|14.0|    2|
|  male|17.0|    2|
+------+----+-----+
only showing top 20 rows

In [154]:
df.filter(df['Embarked'] == 'C').select(['Sex', 'Age']).rdd.map(lambda x: [x[0],x[1]]).take(5)

[['female', 38.0],
 ['female', 14.0],
 ['female', None],
 ['male', None],
 ['male', 40.0]]

In [171]:
import pyspark.sql.functions as F
df.filter(df['Embarked'] == 'C').select(['Sex', 'Age']).groupby('Sex').agg(F.collect_list('Age')).show()

+------+--------------------+
|   Sex|   collect_list(Age)|
+------+--------------------+
|female|[38.0, 14.0, 14.0...|
|  male|[40.0, 28.0, 65.0...|
+------+--------------------+

## Activity: How many female and male do we have in Titanic?

- Pandas way
- Pyspark way

## Activity: We studied two ways to obtain arithmetic operation on a column in Pyspark DataFrame

- Resource: https://stackoverflow.com/questions/41195378/what-is-the-most-efficient-way-in-pyspark-to-reduce-a-dataframe
- RDD based
- Function based (known as spark sql)

In [ ]:
## Obtain the sum of age for Age column in Titanic (RDD Based)

df.filter(df['Age'].isNotNull()).select(['Age']).rdd.map(lambda x: x[0]).reduce(lambda x,y: x + y)

In [ ]:
## Obtain the sum of age for Age column in Titanic (Function Based or spark sql)
from pyspark.sql.functions import mean, sum

df.select(sum('Age')).show()

## Activity: For titanic, apply a function to each AGE value with the followings:

- age = age - mean(age)
- Create a new column or update the Age column with the above normalization is required 
- With RDD transformation, it is easy to have a new RDD of normalized age but return it back to `df` is needed also
- To do this transformation and updating the `df` at the same time, we need User Defined Function (UDF) that will be introduced in the next session

# Resources

-  https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/5722190290795989/3865595167034368/8175309257345795/latest.html

- https://gist.github.com/AlessandroChecco/c930a8b868342fa34b23a1f282dc3e88