In [2]:
import pandas as pd

data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
  ]

columns = ["firstname","lastname","country","state"] 

df = pd.DataFrame(data, columns =columns)
  
df

  firstname  lastname country state
0     James     Smith     USA    CA
1   Michael      Rose     USA    NY
2    Robert  Williams     USA    CA
3     Maria     Jones     USA    FL

## Slice the dataframe for those who live in 'NY' or 'CA'

In [3]:
ls = ['NY', 'CA']
df[df['state'].isin(ls)]

  firstname  lastname country state
0     James     Smith     USA    CA
1   Michael      Rose     USA    NY
2    Robert  Williams     USA    CA

## Slice the datafarme for those who are not in 'NY' or 'CA'

In [4]:
df[~df['state'].isin(ls)]

  firstname lastname country state
3     Maria    Jones     USA    FL

In [5]:
df

  firstname  lastname country state
0     James     Smith     USA    CA
1   Michael      Rose     USA    NY
2    Robert  Williams     USA    CA
3     Maria     Jones     USA    FL

## How we can do this in Pyspark?

In [ ]:
import pyspark
from pyspark.sql import SparkSession


spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

states = {"NY":"New York", "CA":"California", "FL":"Florida"}


data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
  ]

columns = ["firstname","lastname","country","state"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

In [ ]:
ls = ['NY', 'CA']
filterDf= df.where((df['state'].isin(ls)))

In [ ]:
filterDf.show()