In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("/Users/rishabhsharma/Documents/GitHub/winter-23/DSCI-521/week-2/data/baseball_heightweight.csv")

In [7]:
df.head()

              Name Team       Position  Height  Weight    Age
0    Adam_Donachie  BAL        Catcher      74   180.0  22.99
1        Paul_Bako  BAL        Catcher      74   215.0  34.69
2  Ramon_Hernandez  BAL        Catcher      72   210.0  30.78
3     Kevin_Millar  BAL  First_Baseman      72   210.0  35.43
4      Chris_Gomez  BAL  First_Baseman      73   188.0  35.71