In [1]:
import os 
os.environ["JAVA_HOME"]='/usr/local/opt/openjdk@8'

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

spark = SparkSession.builder.appName('SparkRowExamples.com').getOrCreate()

/Users/miladtoutounchian/anaconda3/lib/python3.6/site-packages/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [3]:
dept = [("Finance",10), 
        ("Marketing",20), 
        ("Sales",30), 
        ("IT",40) 
      ]
sample_rdd2 = spark.sparkContext.parallelize(dept)

deptColumns = ["dept_name","dept_id"]

df2 = sample_rdd2.toDF(deptColumns)
df2.show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [5]:
# We have seen this before for Titanic dataset
print(df2.rdd.map(lambda x: [x[0], x[1]]).take(2))
# or, we can do the followings instead:
print(df2.rdd.map(list).take(2))
#or 
print(df2.rdd.map(tuple).take(2))
# however, we have more flexibility with the following:
# the first two letters of dept_name
print(df2.rdd.map(lambda x: [x[0][0:2], x[1]]).take(2))

[['Finance', 10], ['Marketing', 20]]
[['Finance', 10], ['Marketing', 20]]
[('Finance', 10), ('Marketing', 20)]
[['Fi', 10], ['Ma', 20]]